---
layout: default
title: Services
sitemap:
    priority: 0.9
    changefreq: monthly
---

<div class="alert alert-danger">
  This page only contains professional services since 2012.
</div>

{% assign collection = site.services | group_by: "year" %}

{% for group in collection reversed %}

<h4>{{ group.name }}</h4>

<div class="list-group">

  {% for service in group.items %}
  <a {% if service.link %} href="{{ service.link }}" {% endif %}
    class="list-group-item">
    <i>{{ service.entity }}</i>;
    <strong>{{ service.nature }}</strong>.
    {% if service.link %}
    <span class="glyphicon glyphicon-link"></span>
    {% endif %}
  </a>
  {% endfor %}
</div>
{% endfor %}
